.dark-mode {
  background-color: #252525;
  color: white;
}

#tile-container {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  min-width: 180px;
  max-height: 170px;
}

.tile p {
  line-height: 0.3;
}
